header#Header{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 16px;
  background-color:#0067a3;
  padding: 4px;
}

header#Header > img {
  width: 80px;
  opacity: 0.5;
  cursor: pointer;
  margin: auto 0;
}

header#Header > img:hover {
  opacity: 0.8;
}

header#Header > div.left {
  display: flex;
}

header#Header > div.left > div {
   position: relative;
}

header#Header > div.left > div > input {
  background-color: rgba(255,255,255,0.4);
  padding: 8px 30px 8px 8px;
  color: #172b4d;
  width: 180px;
  transition: width 300ms;
  border-radius: 4px;
}

header#Header > div.left > div > input:focus {
  background-color: #fff;
  width: 380px;
}

header#Header > div.left > div > i {
  position: absolute;
  font-size: 22px;
  color: #fff;
  right: 8px;
  transform: translateY(-50%);
  top: 50%;

  font-size: 16px;
}

header#Header > div.right {
  display: flex;
  justify-content: flex-end;
}

.icon-button {
  background-color: rgba(255,255,255,0.4);
  margin-right: 4px;
  padding: 4px;
  border-radius: 4px; 
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon-button > svg {
  color: #fff;
  font-size: 20px ;
}

.icon-button > span {
  color: #fff;
  font-size: 14px;
  font-weight:bold;
  margin-left: 8px;
}
header#Header > div.right > div.user {
  background-color: orangered;
  color: white;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  padding: 0 3px;
  height: 30px;
  width: 30px;

  text-transform: uppercase;
}

.ajuste-icon{
  color: white;
  font-size: 20px;
}