<header id="Header">
    <div class="left">
      <button class="icon-button">
        <i class="fas fa-th ajuste-icon"></i>
      </button>
      <button class="icon-button">
        <i class="fas fa-home ajuste-icon"></i>
      </button>
      <button class="icon-button">
        <i class="fab fa-trello ajuste-icon"></i>
        <span>Quadros</span>
      </button>
      <div>
        <input type="text" placeholder="Ir para..."/>
        <i class="fas fa-search ajuste-icon"></i>
      </div>
    </div>
    <img src="../assets/logo.svg" alt="logo"/>
    <div class="right">
      <button class="icon-button">
        <i class="fas fa-plus ajuste-icon"></i>
      </button>
      <button class="icon-button">
        <i class="fas fa-info-circle ajuste-icon"></i>
      </button>
      <button class="icon-button">
        <i class="far fa-bell ajuste-icon"></i>
      </button>
      <div class='user'>
        JJ
      </div>
    </div>
  </header>