main#container-tasks {
    display: flex;
}

main#container-tasks > div.container-card{
    height: fit-content;
    width: fit-content;
    display: flex;
}

main#container-tasks > div.container-card > div.card{
    height: max-content;
    width: 272px;
    background-color: #EBECF0;
    margin-left: 8px;

    border-radius: 4px;

    padding: 0 10px 10px 10px;
}

main#container-tasks > div.container-card > div.card > div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBECF0;
    height: 40px;
}

main#container-tasks > div.container-card > div.card > div.header :hover {
    opacity: 1;
    cursor: pointer;
}

main#container-tasks > div.container-card > div.card > div.header > input{
    color: rgba(0, 3, 41, 0.973);

    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #EBECF0;

}

main#container-tasks > div.container-card > div.card > div.header > i {
    font-size: 12px;
    opacity: 0.6;

}

main#container-tasks > div.container-card > div.card > div.content > div.task {
    background-color: white;
    color: black;

    border-radius: 2px;
    padding: 2px;
    width: 256px;
    height: 32px;

    font-size: 0.8rem;

    display: flex;
    align-items: center;

    padding-left: 6px;
    margin-top: 4px;
}

main#container-tasks > div.container-card > div.card > div.content > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main#container-tasks > div.container-card > div.card > div.content > div > a{
    opacity: 0.6;
    margin-top: 8px;
    
}
main#container-tasks > div.container-card > div.card > div.content > div > i{
    opacity: 0.6;
    margin-top: 9px;
    width: fit-content;
}

main#container-tasks > div.container-card > div.card > div.content > div > a > div.space :hover{
    opacity: 1;
    cursor: pointer;
}

main#container-tasks > div.container-card > div.card > div.content > div > i :hover{
    cursor: pointer;
}

main#container-tasks > div.container-card > div.card > div.content > div > a > div.space > i.icons {
    font-size: 14px;
}
main#container-tasks > div.container-card > div.card > div.content > div > a > div.space > span{
    margin-left: 4px;
    color: rgb(7, 7, 7);
}
