<section class="subheader">
    <div class="container-left">
      <div class="sub-trello-box">
        <input type="text" [(ngModel)] = "nameProject" class="boxes">
      </div>

      <div class="boxes">
        <i class="far fa-star icon"></i>
      </div>

      <span class="divider"></span>

      <div class="boxes">
        <span class="sub-title">Pessoal</span>
      </div>

      <span class="divider"></span>

      <div class="boxes">
        <i class="fas fa-lock icon"></i>
        <span class="sub-title">Particular</span>
      </div>

      <span class="divider"></span>

      <div class="container-login">
        <div class="sub-name">
          JJ
        </div>
      </div>

      <div class="boxes">
        <span class="sub-title">Convidar</span>
      </div>

    </div>

    <div class="container-right">
      <div class="boxes">
        <i class="fas fa-bolt icon"></i>
        <span class="sub-title">Automação</span>
      </div>

      <div class="boxes ml-4">
        <i class="fas fa-ellipsis-h icon"></i>
        <span class="sub-title">Mostrar Menu</span>
      </div>
    </div>

</section>    