<main id="container-tasks">
    <div class="container-card">
        <div class="card">
            <div class="header">
                <input type="text" [(ngModel)]="tittle">
                <i class="fas fa-ellipsis-h icons"></i>
            </div>
            <div class="content">
                <a>
                    <div class="space">
                        <i class="fas fa-plus icons"></i>
                        <span>Adicionar um cartão</span>
                    </div>
                    <i class="far fa-credit-card icons"></i>
                </a>
            </div>
        </div>
    </div>
</main>